/* app css stylesheet */

.main {
    height: 620px;
}

.top-buffer {
    margin-top: 20px;
}

.loading-progress {
    margin-top: 200px;
}

.log {
    height: 120px;
}

.navigation {
    margin-top: 40px;
}

div.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.error {
    color: red;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
