<div class="row" ng-show="initialized">
  <div class="col-md-6">
    <div class="row">
      <!-- Algorithms Panel -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Algorithms</h3>
          </div>
          <div class="panel-body">
            <div class="list-group" slim-scroll="300">
              <a href="" class="list-group-item" ng-repeat="algorithm in algorithms"
                 ng-class="{active: currentAlgorithm == algorithm}" ng-click="setAlgorithm(algorithm)">
                {{algorithm}}
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Problems Panel -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Problems</h3>
          </div>
          <div class="panel-body">
            <div class="list-group" slim-scroll="300">
              <a href="" class="list-group-item" ng-repeat="problem in problems"
                 ng-class="{active: currentProblem == problem}" ng-click="setProblem(problem)">
                {{problem}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="button" class="btn btn-default btn-primary" id="btnGenerate" value="Generate Experiment"
               ng-disabled="!areDetailsValid()" ng-click="generateExperiment()"/>
      </div>
    </div>
  </div>

  <!-- Parameters Panel -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Parameters</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <span class="label label-success" style="display: block;" id="variations">
                Variations: {{variations}}
              </span>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-md-6">
              <div class="list-group" slim-scroll="343">
                <div class="list-group-item" ng-repeat="(parameter, checked) in parameters"
                     ng-class="{active: currentParameter == parameter}" ng-click="setParameter(parameter)">
                  <div class="checkbox">
                    <input type="checkbox" ng-model="checked"
                           ng-disabled="parameter != currentParameter && !areDetailsValid()"
                           ng-change="toggleParameter(parameter)"/> {{parameter}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row" ng-show="isArrayValue()">
                <div class="col-md-12">
                  <button class="btn btn-default center-block" data-toggle="modal" data-target="#generationModal">
                    Generate Values
                  </button>
                </div>
              </div>

              <div class="row" ng-hide="isArrayValue()">
                <div class="col-md-12">
                  <div slim-scroll="343" class="list-group" ng-show="currentParameterDetails != null">
                    <!-- Details for 'choice' -->
                    <div class="list-group-item" ng-if="currentParameterDetails.type == 'choice'"
                         ng-repeat="(value, checked) in currentParameterDetails.values">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="checked" ng-change="toggleChoice(value)"/> {{value}}
                        </label>
                      </div>
                    </div>

                    <!-- Details for 'bool'-->
                    <span ng-if="currentParameterDetails.type == 'bool'">Boolean parameter: True / False</span>
                  </div>
                </div>
              </div>

              <div class="row top-buffer" ng-show="isArrayValue()">
                <div class="col-md-12">
                  <div slim-scroll="220" class="list-group" ng-show="currentParameterDetails != null">
                    <!-- Details for array values -->
                    <div class="form-group form-inline" ng-class="{'has-error': !input.isValid}"
                         ng-repeat="input in currentParameterDetails.values | orderBy:'value'">
                      <input type="number" class="form-control" ng-model="input.value"
                             ng-change="validateInput(input, false)"/>

                      <button class="btn btn-default" ng-click="removeValue(input)">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row top-buffer" ng-show="isArrayValue()">
                <div class="col-md-12">
                  <div class="form-group form-inline" ng-class="{'has-error': !newValue.isValid && newValue.value != ''}">
                    <input type="number" class="form-control" ng-model="newValue.value"
                           ng-change="validateInput(newValue, true)"/>
                    <button class="btn btn-default" ng-click="addNewValue()"
                            ng-disabled="!newValue.isValid || newValue.value == null">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="generationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="modalLabel">Generate Values</h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label for="inputMin" class="col-md-2 control-label">Minimum</label>

                          <div class="col-md-10">
                            <input type="number" class="form-control" id="inputMin" ng-model="generationValues.Minimum"
                                   placeholder="Minimum">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputMax" class="col-md-2 control-label">Maximum</label>

                          <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputMax" ng-model="generationValues.Maximum"
                                   placeholder="Maximum">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputStep" class="col-md-2 control-label">Step Size</label>

                          <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputStep" ng-model="generationValues.Step"
                                   placeholder="Step Size">
                          </div>
                        </div>
                      </form>
                      <div class="alert alert-danger" ng-show="validationError != null">
                        <strong>Error:</strong> {{validationError}}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"
                              ng-click="generateValues()" ng-disabled="!areGenerationValuesValid()">
                        Generate
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>