<div class="row">
  <!-- Tasks Panel -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
      <div class="panel-body">
        <div class="list-group" id="tasks">
          <a href="" class="list-group-item" ng-repeat="task in tasks"
             ng-class="{active: $index == currentTaskIndex}" ng-click="setTaskIndex($index)">
            <span class="glyphicon" ng-class="{
                'glyphicon-ok': task['State'] == 'Finished',
                'glyphicon-play': task['State'] == 'Calculating' || task['State'] == 'Transferring',
                'glyphicon-pause': task['State'] == 'Paused',
                'glyphicon-remove': task['State'] == 'Aborted' || task['State'] == 'Failed',
                'glyphicon-off': task['State'] == 'Offline',
                'glyphicon-time': task['State'] == 'Waiting'
            }"></span>
            {{task['Name']}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Status Panel -->
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="variationDetailsPanel">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Parameter Name</th>
                <th>Parameter Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(name, data) in tasks[currentTaskIndex]" ng-show="name != 'ChildHiveTasks'">
                <td>{{name}}</td>
                <td>{{data}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#tasks').slimScroll({
    height: '420px'
  });
</script>