<div class="row">
  <!-- Tasks Panel -->
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          <div class="list-group" slim-scroll="323">
            <a href="" class="list-group-item" ng-repeat="task in tasks"
               ng-class="{active: $index == currentTaskIndex}" ng-click="setTaskIndex($index)">
            <span class="glyphicon" ng-class="{
                'glyphicon-ok': task['State'] == 'Finished',
                'glyphicon-play': task['State'] == 'Calculating' || task['State'] == 'Transferring',
                'glyphicon-pause': task['State'] == 'Paused',
                'glyphicon-remove': task['State'] == 'Aborted' || task['State'] == 'Failed',
                'glyphicon-off': task['State'] == 'Offline',
                'glyphicon-time': task['State'] == 'Waiting'
            }"></span>
              {{task['Name']}}
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="" class="btn btn-primary" ng-class="{disabled: !jobFinished}" ng-click="downloadExperiment()">
          Download Experiment
        </a>
      </div>
    </div>
  </div>

  <!-- Status Panel -->
  <div class="col-md-8">
    <div class="panel panel-default" ng-show="currentTaskIndex != -1">
      <div class="panel-body">
        <div>
          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-default" ng-class="{disabled: tasks[currentTaskIndex]['State'] != 'Paused'}"
                 ng-click="resumeTask()">
                <span class="glyphicon glyphicon-play"></span>
              </a>
              <a class="btn btn-default" ng-class="{disabled: tasks[currentTaskIndex]['State'] != 'Calculating'}"
                 ng-click="pauseTask()">
                <span class="glyphicon glyphicon-pause"></span>
              </a>
              <a class="btn btn-default" ng-class="{disabled: tasks[currentTaskIndex]['State'] != 'Calculating' &&
                        tasks[currentTaskIndex]['State'] != 'Waiting' && tasks[currentTaskIndex]['State'] != 'Paused'}"
                 ng-click="stopTask()">
                <span class="glyphicon glyphicon-stop"></span>
              </a>

              <button class="btn btn-default right" data-toggle="modal" data-target="#resultsModal"
                      data-backdrop="static" ng-class="{disabled: tasks[currentTaskIndex]['State'] != 'Finished'}">
                View Results
              </button>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tbody>
                  <tr ng-repeat="(name, data) in tasks[currentTaskIndex]"
                      ng-show="name != 'ChildHiveTasks' && name != 'Results' && name != 'Parameters'">
                    <td>{{name}}</td>
                    <td>{{(data != null && data != '') ? data : '-'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="currentTaskIndex == -1">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      Select a task from the left to view more information about it.
    </div>
  </div>
</div>

<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Run Results</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr ng-repeat="(name, data) in tasks[currentTaskIndex]['Results']">
              <td>{{name}}</td>
              <td ng-if="name != 'Qualities'">{{(data != null && data != '') ? data : '-'}}</td>
              <td ng-if="name == 'Qualities'">
                <div qualities-chart="{{currentTaskIndex}}" style="height: 380px"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>