<!DOCTYPE html>
<html lang="en" ng-app="heuristicLab" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>HeuristicLab Prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/flexigrid.css">
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body ng-controller="HeuristicLabMainCtrl">

    <iframe id="sandbox" src="sandbox.html" style="display: none"></iframe>
    <div class="col-md-12 container top-buffer">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default main">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <img src="img/hl-logo.png"
                       class="img-responsive center-block"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="btn-group btn-group-justified" ng-show="!progress.visible && isAuthenticated">
                    <a href="#/creation" class="btn btn-default" ng-class="{active: currentView == 'creation'}">
                      <span class="glyphicon glyphicon-file"></span> Create
                    </a>
                    <a href="#/upload" class="btn btn-default"
                       ng-class="{disabled: !experimentAvailable, active: currentView == 'upload'}">
                      <span class="glyphicon glyphicon-cloud-upload"></span> Upload
                    </a>
                    <a href="#/run" class="btn btn-default"
                       ng-class="{disabled: !jobAvailable, active: currentView == 'run'}">
                      <span class="glyphicon glyphicon-tasks"></span> Run
                    </a>
                    <a href="#/analysis" class="btn btn-default"
                       ng-class="{disabled: !jobFinished, active: currentView == 'analysis'}">
                      <span class="glyphicon glyphicon-list-alt"></span> Analyze
                    </a>
                  </div>
                </div>
                <div class="col-md-8">
                  <input type="button" class="btn btn-default right" value="Sign out"
                         ng-click="logout()" ng-show="!progress.visible && isAuthenticated">
                </div>
              </div>
              <div class="row top-buffer">
                <div ng-show="!progress.visible" class="col-md-12">
                  <div ng-view></div>
                </div>
                <div ng-show="progress.visible" class="col-md-6 col-md-offset-3 loading-progress">
                  <div class="{{progress.class}}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.value}}"
                         aria-valuemin="0" aria-valuemax="100" style="{{'width: ' + progress.value + '%'}}"></div>
                  </div>
                  <div>
                    <span>{{progress.text}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Log</h3>
            </div>
            <div class="panel-body log" slim-scroll="120">
              <div ng-repeat="entry in logMessages" ng-class="{error: entry.type == 'error'}">{{entry.message}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript files -->
    <!-- jQuery is used for JavaScript animations (include this before angular.js) -->
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/slimScroll/jquery.slimscroll.js"></script>
    <script src="bower_components/highcharts-release/highcharts.js"></script>
    <script src="bower_components/highcharts-release/highcharts-more.js"></script>
    <script src="js/flexigrid.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/main-controller.js"></script>
    <script src="js/login-controller.js"></script>
    <script src="js/creation-controller.js"></script>
    <script src="js/upload-controller.js"></script>
    <script src="js/run-controller.js"></script>
    <script src="js/analysis-controller.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="bower_components/crypto-js/rollups/aes.js"></script>
  </body>
</html>
